@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,700;1,400;1,500;1,600;1,700&display=swap");
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

a {
    text-decoration: none !important;
}

a:hover {
    color:white;
    text-decoration:none;
    cursor:pointer;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title-text {
  font-family: "Raleway", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 1.1px;
}

.footer-heading {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.body-style {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.5px;
}

.quotes {
  font-family: "Lora", sans-serif;
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0.6px;
  line-height: 36px;
  text-align: center;
}

.body-text {
  font-family: "Lora", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 36px;
  text-align: center;
}

.footing {
  font-family: "Lora", sans-serif;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 44px;
}

.is-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.is-flex--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1620px;
  padding: 30px 20px;
  font-family: "Raleway", sans-serif;
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.header__logo {
  font-size: 48px;
  text-transform: uppercase;
  color: #2e2e2e;
  font-weight: bold;
}

@media screen and (max-width: 940px) {
  .header__logo {
    font-size: 32px;
  }
}

.header__list {
  list-style: none;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1280px) {
  .header__list {
    margin-top: 32px;
  }
}

@media screen and (max-width: 768px) {
  .header__list {
    display: none;
  }
}

.header__list__item {
  font-size: 18px;
  color: #2e2e2e;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 25px;
}

@media screen and (max-width: 940px) {
  .header__list__item {
    font-size: 14px;
    margin-right: 16px;
  }
}

.header__list__item.is-active {
  color: #65a605;
}

.header__list__item.is-shopping-bag {
  position: relative;
}

.header__list__item.is-shopping-bag .count {
  position: absolute;
  border-radius: 100%;
  background-color: #65a605;
  color: #f6f6f6;
  padding: 2.5px 5px;
  font-size: 11px;
  font-weight: 400;
  right: -10px;
  bottom: -10px;
}

.header__list__item:last-child {
  margin-right: 0;
}

.header .burger-button {
  display: none;
  border: none;
  padding: 15px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .header .burger-button {
    display: block;
  }
}

.footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2e2e2e;
  width: 100%;
}

.footer__content, .footer__copyright {
  width: 100%;
}

.footer__content {
  padding: 72px 72px 60px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  max-width: 1086px;
}

.footer__content__list {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #f6f6f6;
  max-width: 250px;
  width: 100%;
}

.footer__content__list__item {
  padding: 10px 0;
  text-align: left;
  width: 100%;
}

.footer__content__list__item__link, .footer__content__list__item {
  color: #999999;
  font-family: "Lora", sans-serif;
  font-size: 13px;
  line-height: 24px;
  text-decoration: none;
}

.footer__content__list__item__link:hover {
  color: #f6f6f6;
}

.footer__content__list__item {
  border-bottom: 1px solid #999999;
}

.footer__content__list__item:last-child {
  border-bottom: none;
}

.footer__content__list__heading {
  margin-bottom: 20px;
  font-size: 18px;
}

.footer__content__list__heading.app-name {
  color: #65a605;
  font-size: 24px;
}

.footer__content__list__form__text {
  color: #999999;
  font-family: "Lora", sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 16px;
  border-bottom: none;
}

.footer__content__list__form__item {
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__content__list__form__form-wrapper {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  border-bottom: 1px solid #999999;
  padding-bottom: 24px;
  margin-bottom: 12px;
  width: 100%;
}

.footer__content__list__form__form-wrapper label,
.footer__content__list__form__form-wrapper input {
  width: 100%;
}

.footer__content__list__form__form-wrapper input {
  height: 40px;
  background-color: #545551;
  color: #999999;
  font-family: "Lora", sans-serif;
  padding-left: 12px;
  font-size: 13px;
  border: none;
  outline: none;
}

.footer__content__list__form__form-wrapper input::-webkit-input-placeholder {
  color: #999999;
}

.footer__content__list__form__form-wrapper input:-ms-input-placeholder {
  color: #999999;
}

.footer__content__list__form__form-wrapper input::-ms-input-placeholder {
  color: #999999;
}

.footer__content__list__form__form-wrapper input::placeholder {
  color: #999999;
}

.footer__content__list__form__form-wrapper button {
  width: 40px;
  background-color: #65a605;
  color: #f6f6f6;
  border: none;
  outline: none;
  cursor: pointer;
}

.footer__content__list__form .social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__content__list__form .social-networks__item {
  margin-right: 12px;
}

.footer__content__list__form .social-networks__item:last-child {
  margin-right: 0;
}

.footer__content__list__form .social-networks__item__link {
  font-size: 14px;
}

.footer__content__list.recent-posts {
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .footer__content__list.recent-posts {
    margin: 0 72px;
  }
  .footer__content__list.recent-posts:last-child {
    margin: 0 auto;
  }
}

@media screen and (max-width: 940px) {
  .footer__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__content__list.recent-posts {
    margin: 0 36px;
  }
  .footer__content__list__item__form__form-wrapper {
    border-bottom: none;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__content__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 320px;
  }
  .footer__content__list__item {
    text-align: center;
    font-size: 14px;
  }
  .footer__content__list__item__link {
    text-align: center;
    font-size: 14px;
  }
  .footer__content__list__form__text {
    text-align: center;
    font-size: 14px;
  }
  .footer__content__list.recent-posts {
    margin: 32px 0;
  }
  .footer__content__list.recent-posts:last-child {
    margin-top: 30px;
  }
}

@media screen and (max-width: 480px) {
  .footer__content {
    padding: 72px 36px;
  }
  .footer__content__list__form .social-networks {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__copyright {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #242424;
  padding: 18px 60px 14px;
}

.footer__copyright__text {
  color: #f6f6f6;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  line-height: 24px;
  max-width: 942px;
  width: 100%;
}

.footer__copyright__text__strong {
  color: #65a605;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .footer__copyright {
    text-align: center;
    padding: 18px 36px 14px;
  }
}

.button {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #2e2e2e;
  padding: 18px 32px;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  cursor: pointer;
}

.button--success {
  background: #65a605;
  color: #fff;
}

.related-post-item__image {
  width: 100%;
}

.related-post-item__image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.related-post-item__content {
  margin-top: 20px;
}

.related-post-item__content__title {
  text-transform: uppercase;
  font-size: 14px;
  color: #333333;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  margin-bottom: 8px;
}

.related-post-item__content__date {
  font-family: "Lora", sans-serif;
  font-size: 11px;
  color: #999999;
}

.related-post-item__content__date__link {
  text-decoration: none;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  color: #545551;
}

.comment-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.comment-item__author-image {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 20px;
}

.comment-item__author-image img {
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 480px) {
  .comment-item__author-image {
    display: none;
  }
}

.comment-item__content {
  background-color: #f2f2f2;
  padding: 12px;
  color: #2e2e2e;
  position: relative;
}

.comment-item__content__text, .comment-item__content__date {
  font-size: 13px;
  letter-spacing: 0.3px;
}

.comment-item__content__author {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comment-item__content__author__image {
  display: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #f6f6f6;
  -webkit-box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.2);
  margin-right: 6px;
}

.comment-item__content__author__image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 480px) {
  .comment-item__content__author__image {
    display: inline-block;
  }
}

.comment-item__content__author__name {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  margin-right: 2.5px;
  z-index: 10;
}

.comment-item__content__author__profession {
  font-family: "Lora", sans-serif;
  margin-left: 2.5px;
  z-index: 10;
}

.comment-item__content__text {
  margin: 10px 0;
  z-index: 10;
  font-family: "Lora", sans-serif;
  font-weight: 500;
  line-height: 24px;
}

.comment-item__content__date {
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}

@media screen and (max-width: 480px) {
  .comment-item__content {
    padding: 20px 16px;
  }
}

.comment-item__content::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #f2f2f2;
  position: absolute;
  top: 12px;
  left: 0;
  -webkit-transform: translateX(-25%) rotate(45deg);
          transform: translateX(-25%) rotate(45deg);
}

@media screen and (max-width: 480px) {
  .comment-item__content::before {
    display: none;
  }
}

.hero {
  width: 100%;
  min-height: 100vh;
  background-image: url("./../assets/images/jpg/home-1.jpeg");
  background-size: cover;
  background-position: center;
}

.popular-recipes {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 940px) {
  .popular-recipes {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.popular-recipes__content {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 132px 42px;
}

@media screen and (max-width: 940px) {
  .popular-recipes__content {
    padding: 112px 20px;
  }
}

.popular-recipes__content__title {
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.3px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 42px;
  padding-bottom: 16px;
  position: relative;
  color: #2e2e2e;
}

.popular-recipes__content__title::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 75px;
  background-color: #65a605;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.popular-recipes__content__description {
  font-size: 14px;
  font-family: "Lora", sans-serif;
  line-height: 24px;
  letter-spacing: 0.3px;
  margin-bottom: 32px;
  color: #333333;
  max-width: 550px;
}

.popular-recipes img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.recipe-types {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 940px) {
  .recipe-types {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.recipe-types__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 28px;
          column-gap: 28px;
  row-gap: 36px;
  padding: 132px 80px;
  background-color: #f2f2f2;
}

@media screen and (max-width: 1280px) {
  .recipe-types__content {
    padding: 112px 35px;
  }
}

@media screen and (max-width: 940px) {
  .recipe-types__content {
    padding: 112px 60px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media screen and (max-width: 768px) {
  .recipe-types__content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 112px 20px;
  }
}

.recipe-types__content__card {
  position: relative;
  padding-left: 55px;
}

@media screen and (max-width: 940px) {
  .recipe-types__content__card {
    max-width: 280px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .recipe-types__content__card {
    max-width: 285px;
  }
}

.recipe-types__content__card__icon {
  position: absolute;
  font-size: 30px;
  color: #2e2e2e;
  left: 0;
}

.recipe-types__content__card__title {
  font-size: 18px;
  letter-spacing: 0.3px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #2e2e2e;
  text-transform: uppercase;
}

.recipe-types__content__card__description {
  color: #999999;
  font-size: 13px;
  font-family: "Lora", sans-serif;
  line-height: 24px;
  letter-spacing: 0.3px;
  margin-top: 12px;
}

.recipe-types img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

@media screen and (max-width: 940px) {
  .recipe-types img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.our-restaurants {
  min-height: 95vh;
  padding: 192px 20px 132px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 940px) {
  .our-restaurants {
    padding: 132px 60px 112px 60px;
    min-height: 85vh;
  }
}

@media screen and (max-width: 768px) {
  .our-restaurants {
    padding: 112px 20px;
  }
}

.our-restaurants__media {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .our-restaurants__media {
    width: 90%;
    max-width: 285px;
  }
}

.our-restaurants__media .main-image {
  width: 100%;
}

.our-restaurants__media .absolute-image {
  position: absolute;
  right: -75px;
  top: -125px;
}

@media screen and (max-width: 940px) {
  .our-restaurants__media .absolute-image {
    width: 127px;
    right: -45px;
    top: -77px;
  }
}

.our-restaurants__content {
  margin-top: 64px;
}

.our-restaurants__content__title {
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.3px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 42px;
  padding-bottom: 16px;
  position: relative;
  color: #2e2e2e;
  text-align: center;
}

.our-restaurants__content__title::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 75px;
  background-color: #65a605;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.our-restaurants__content__description {
  font-size: 14px;
  font-family: "Lora", sans-serif;
  line-height: 24px;
  letter-spacing: 0.3px;
  margin-bottom: 32px;
  color: #999999;
  max-width: 750px;
  text-align: center;
}

.gallery-images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 940px) {
  .gallery-images {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.gallery-images img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurant-quotes {
  background-color: #dded9a;
  padding: 148px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

@media screen and (max-width: 940px) {
  .restaurant-quotes {
    padding: 112px 20px;
  }
}

.restaurant-quotes__title {
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.3px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 42px;
  padding-bottom: 16px;
  position: relative;
  color: #2e2e2e;
  text-align: center;
}

@media screen and (max-width: 940px) {
  .restaurant-quotes__title {
    margin-bottom: 32px;
  }
}

.restaurant-quotes__title::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 75px;
  background-color: #65a605;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.restaurant-quotes__description {
  font-size: 24px;
  font-family: "Lora", sans-serif;
  line-height: 36px;
  letter-spacing: 0.6px;
  color: #2e2e2e;
  position: relative;
  width: 90%;
  max-width: 850px;
  text-align: center;
}

@media screen and (max-width: 1280px) {
  .restaurant-quotes__description {
    max-width: 700px;
  }
}

@media screen and (max-width: 940px) {
  .restaurant-quotes__description {
    font-size: 16px;
    line-height: 24px;
    max-width: 480px;
  }
}

.restaurant-quotes__description .icon {
  position: absolute;
  color: #eef6d1;
  font-size: 48px;
}

@media screen and (max-width: 940px) {
  .restaurant-quotes__description .icon {
    font-size: 32px;
  }
}

.restaurant-quotes__description .icon__right {
  right: -70px;
  bottom: -20px;
}

@media screen and (max-width: 940px) {
  .restaurant-quotes__description .icon__right {
    right: -32px;
    bottom: -15px;
  }
}

.restaurant-quotes__description .icon__left {
  left: -70px;
  top: -15px;
}

@media screen and (max-width: 940px) {
  .restaurant-quotes__description .icon__left {
    left: -32px;
    top: -15px;
  }
}

.restaurant-quotes__pagination {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 75px;
}

@media screen and (max-width: 940px) {
  .restaurant-quotes__pagination {
    margin-top: 35px;
  }
}

.restaurant-quotes__pagination__button {
  padding: 10px 15px;
  font-size: 26px;
  background-color: transparent;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  color: #eef6d1;
  cursor: pointer;
}

.restaurant-quotes__pagination__button.is-next {
  color: #f6f6f6;
}

.blog-hero {
  width: 100%;
  min-height: 70vh;
  background-image: url("./../assets/images/jpg/blog-1.jpeg");
  background-size: cover;
  background-position: center;
}

.blog-main-content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 118px 0;
  width: 100%;
}

.blog-main-content .post-container {
  width: 100%;
  max-width: 1086px;
}

.blog-main-content .post-container .post {
  padding: 0 72px;
  margin-bottom: 26px;
}

.blog-main-content .post-container .post__header {
  font-family: "Raleway", sans-serif;
}

.blog-main-content .post-container .post__header__title {
  font-size: 48px;
  color: #2e2e2e;
  margin-bottom: 8px;
  font-weight: 700;
}

.blog-main-content .post-container .post__header__date {
  font-size: 13px;
  font-weight: 500;
}

.blog-main-content .post-container .post__content {
  padding: 28px 0 32px;
}

.blog-main-content .post-container .post__content__text {
  font-family: "Lora", sans-serif;
  color: #999999;
  line-height: 24px;
  letter-spacing: 0.3px;
  margin-bottom: 30px;
}

.blog-main-content .post-container .post__content__text:last-child {
  margin-bottom: 0;
}

.blog-main-content .post-container .post__footer {
  padding: 26px 0;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
}

.blog-main-content .post-container .post__footer__list {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.blog-main-content .post-container .post__footer__list__heading {
  color: #2e2e2e;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  margin-right: 6px;
  line-height: 0.9;
}

.blog-main-content .post-container .post__footer__list__item__link {
  color: #999999;
  font-family: "Lora", sans-serif;
  font-weight: 500;
  font-size: 13px;
  text-decoration: none;
}

.blog-main-content .post-container .post__footer__list__item__link:hover {
  color: #333333;
}

.blog-main-content .post-container .post__footer__tags {
  margin-bottom: 12px;
}

.blog-main-content .post-container .post__footer__tags__item {
  margin-right: 3px;
}

.blog-main-content .post-container .post__footer__share {
  padding-bottom: 26px;
  margin-bottom: 26px;
  border-bottom: 1px solid #f2f2f2;
}

.blog-main-content .post-container .post__footer__share__item {
  margin-right: 20px;
}

.blog-main-content .post-container .post__footer__share__item:last-child {
  margin-right: 0;
}

.blog-main-content .post-container .post__footer__share__item__link {
  font-size: 18px;
}

.blog-main-content .post-container .post__footer__author {
  position: relative;
  width: 100%;
}

.blog-main-content .post-container .post__footer__author__image {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 18px;
  max-width: 171px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-main-content .post-container .post__footer__author__image__name {
  color: #2e2e2e;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  text-align: center;
  font-weight: 700;
  margin-top: 8px;
  display: none;
  text-transform: uppercase;
}

.blog-main-content .post-container .post__footer__author__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 768px) {
  .blog-main-content .post-container .post__footer__author__image {
    position: absolute;
    border-radius: 50%;
    width: 80px;
    top: 20px;
    left: 20px;
    height: 80px;
    border: 3px solid #f6f6f6;
    -webkit-box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.2);
            box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.2);
    margin-right: 0;
  }
  .blog-main-content .post-container .post__footer__author__image__name {
    display: inline-block;
  }
  .blog-main-content .post-container .post__footer__author__image img {
    border-radius: 50%;
  }
}

@media screen and (max-width: 480px) {
  .blog-main-content .post-container .post__footer__author__image {
    position: static;
    z-index: 10;
    width: 100px;
    height: 100px;
  }
  .blog-main-content .post-container .post__footer__author__image__name {
    display: none;
  }
}

.blog-main-content .post-container .post__footer__author__about {
  padding: 26px;
  background-color: #f2f2f2;
}

.blog-main-content .post-container .post__footer__author__about__author-name {
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #2e2e2e;
  font-weight: 700;
  margin-bottom: 14px;
}

@media screen and (max-width: 768px) {
  .blog-main-content .post-container .post__footer__author__about__author-name {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .blog-main-content .post-container .post__footer__author__about__author-name {
    display: inline-block;
  }
}

.blog-main-content .post-container .post__footer__author__about__author-description {
  font-size: 13px;
  font-family: "Lora", sans-serif;
  color: #999999;
  line-height: 24px;
}

@media screen and (max-width: 768px) {
  .blog-main-content .post-container .post__footer__author__about__author-description {
    text-align: justify;
  }
}

@media screen and (max-width: 768px) {
  .blog-main-content .post-container .post__footer__author__about {
    padding: 26px 26px 26px 120px;
  }
}

@media screen and (max-width: 480px) {
  .blog-main-content .post-container .post__footer__author__about {
    padding: 16px 26px 26px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .blog-main-content .post-container .post__footer__author {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f2f2f2;
    padding-top: 26px;
  }
}

@media screen and (max-width: 480px) {
  .blog-main-content .post-container .post {
    padding: 0 36px;
  }
}

.blog-main-content .related-posts {
  width: 100%;
  max-width: 1086px;
  padding: 0 72px;
}

.blog-main-content .related-posts__heading {
  font-size: 14px;
  color: #2e2e2e;
  margin-bottom: 20px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}

.blog-main-content .related-posts__posts-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-bottom: 26px;
  margin-bottom: 26px;
  border-bottom: 1px solid #f2f2f2;
  max-width: 1086px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .blog-main-content .related-posts__posts-wrapper {
    -ms-grid-columns: minmax(320px, 1fr);
        grid-template-columns: minmax(320px, 1fr);
    place-content: center;
    gap: 30px;
  }
}

@media screen and (max-width: 768px) {
  .blog-main-content .related-posts {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .blog-main-content .related-posts {
    padding: 0 36px;
  }
}

.blog-main-content .blog-comments {
  width: 100%;
  max-width: 1086px;
  padding: 0 72px;
  margin-bottom: 30px;
}

.blog-main-content .blog-comments__heading {
  color: #2e2e2e;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  margin-bottom: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.blog-main-content .blog-comments__comments-wrapper {
  display: -ms-grid;
  display: grid;
  gap: 30px;
}

@media screen and (max-width: 480px) {
  .blog-main-content .blog-comments {
    padding: 0 36px;
  }
}

.blog-main-content .leave-comment {
  width: 100%;
  max-width: 1086px;
  padding: 0 72px;
}

.blog-main-content .leave-comment__heading {
  color: #2e2e2e;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  margin-bottom: 8px;
  font-weight: 700;
  text-transform: uppercase;
}

.blog-main-content .leave-comment__helper-text {
  font-family: "Lora", sans-serif;
  font-weight: 500;
  color: #999999;
  font-size: 11px;
}

.blog-main-content .leave-comment__form {
  margin-top: 24px;
}

.blog-main-content .leave-comment__form__fieldset {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 10px 20px;
  width: 100%;
  border: none;
}

.blog-main-content .leave-comment__form__fieldset__label {
  width: 100%;
}

.blog-main-content .leave-comment__form__fieldset__label input {
  height: 40px;
  padding-left: 12px;
}

.blog-main-content .leave-comment__form__fieldset__label textarea {
  padding: 12px;
  width: 100%;
  resize: none;
  min-height: 140px;
  outline: none;
}

.blog-main-content .leave-comment__form__fieldset__label__input {
  border: 1px solid #f2f2f2;
  color: #999999;
  font-family: "Lora", sans-serif;
  font-size: 11px;
  width: 100%;
  outline: none;
}

.blog-main-content .leave-comment__form__fieldset__label__input::-webkit-input-placeholder {
  color: #999999;
  font-weight: 500;
}

.blog-main-content .leave-comment__form__fieldset__label__input:-ms-input-placeholder {
  color: #999999;
  font-weight: 500;
}

.blog-main-content .leave-comment__form__fieldset__label__input::-ms-input-placeholder {
  color: #999999;
  font-weight: 500;
}

.blog-main-content .leave-comment__form__fieldset__label__input::placeholder {
  color: #999999;
  font-weight: 500;
}

.blog-main-content .leave-comment__form__fieldset__label-textarea {
  grid-column: span 3;
}

@media screen and (max-width: 768px) {
  .blog-main-content .leave-comment__form__fieldset {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .blog-main-content .leave-comment__form__fieldset__label-textarea, .blog-main-content .leave-comment__form__fieldset__label[for="website"] {
    grid-column: span 2;
  }
}

@media screen and (max-width: 480px) {
  .blog-main-content .leave-comment__form__fieldset {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .blog-main-content .leave-comment__form__fieldset__label-textarea, .blog-main-content .leave-comment__form__fieldset__label[for="website"] {
    grid-column: span 1;
  }
}

.blog-main-content .leave-comment__form .button {
  text-transform: uppercase;
  margin-top: 20px;
  font-size: 13px;
}

@media screen and (max-width: 480px) {
  .blog-main-content .leave-comment {
    padding: 0 36px;
  }
}

.contact-hero {
  min-height: 70vh;
  width: 100%;
  background-image: url("./../assets/images/jpg/contact-1.jpeg");
  background-size: cover;
  background-position: center;
}

.contact-main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.62fr;
      grid-template-columns: 1fr 0.62fr;
}

@media screen and (max-width: 940px) {
  .contact-main {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.contact-main__form {
  padding-top: 112px;
  padding-bottom: 64px;
  padding-left: 54px;
}

@media screen and (max-width: 940px) {
  .contact-main__form {
    padding: 112px 20px 64px 20px;
  }
}

.contact-main__form__title {
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.3px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  color: #2e2e2e;
  max-width: 650px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: 68px;
}

@media screen and (max-width: 940px) {
  .contact-main__form__title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.contact-main__form__fields {
  max-width: 650px;
  margin-left: auto;
  margin-right: 68px;
}

@media screen and (max-width: 940px) {
  .contact-main__form__fields {
    margin-right: auto;
    max-width: 320px;
  }
}

.contact-main__form__fields__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
}

.contact-main__form__fields__control:last-of-type {
  margin-bottom: 0;
}

.contact-main__form__fields__control.is-group input {
  margin: 0 16px;
}

.contact-main__form__fields__control.is-group input:first-of-type {
  margin-left: 0;
}

.contact-main__form__fields__control.is-group input:last-of-type {
  margin-right: 0;
}

.contact-main__form__fields__control input,
.contact-main__form__fields__control textarea {
  height: 48px;
  width: 100%;
  background-color: #f6f6f6;
  color: #a7a7a7;
  font-family: "Lora", sans-serif;
  padding: 10px 14px;
  font-size: 14px;
  border: none;
}

.contact-main__form__fields__control input::-webkit-input-placeholder {
  color: #a7a7a7;
}

.contact-main__form__fields__control input:-ms-input-placeholder {
  color: #a7a7a7;
}

.contact-main__form__fields__control input::-ms-input-placeholder {
  color: #a7a7a7;
}

.contact-main__form__fields__control input::placeholder {
  color: #a7a7a7;
}

.contact-main__form__fields__control textarea {
  min-height: 175px;
  resize: none;
}

.contact-main__form__fields .button {
  margin-top: 14px;
  padding: 18px;
  margin-left: -18px;
  background-color: transparent;
  color: #65a605;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
}

.contact-main__form__fields .button .icon {
  margin-left: 7px;
}

.contact-main__info {
  background-color: #f6f6f6;
  padding: 112px 40px 64px 40px;
}

@media screen and (max-width: 940px) {
  .contact-main__info {
    padding: 112px 20px 64px 20px;
  }
}

.contact-main__info__details {
  margin-bottom: 32px;
}

@media screen and (max-width: 940px) {
  .contact-main__info__details {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
}

.contact-main__info__details__title {
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.3px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #2e2e2e;
  margin-bottom: 40px;
}

.contact-main__info__details__description {
  font-size: 14px;
  font-family: "Lora", sans-serif;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: #333333;
  max-width: 300px;
}

.contact-main__info__schedule {
  margin-bottom: 32px;
}

@media screen and (max-width: 940px) {
  .contact-main__info__schedule {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
}

.contact-main__info__schedule__title {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.3px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #2e2e2e;
  margin-bottom: 20px;
}

.contact-main__info__schedule__hours {
  font-size: 14px;
  font-family: "Lora", sans-serif;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: #333333;
  max-width: 300px;
}

.contact-main__info__schedule__message {
  font-size: 14px;
  font-family: "Lora", sans-serif;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: #999999;
  max-width: 300px;
}

.contact-main__info__address {
  margin-bottom: 32px;
}

@media screen and (max-width: 940px) {
  .contact-main__info__address {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
}

.contact-main__info__address__title {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.3px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #2e2e2e;
  margin-bottom: 20px;
}

.contact-main__info__address__city, .contact-main__info__address__email, .contact-main__info__address__phone {
  font-size: 14px;
  font-family: "Lora", sans-serif;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: #999999;
  max-width: 300px;
}

.contact-main__info__address__city {
  margin-bottom: 18px;
}

.contact-main__info__address__email {
  margin-bottom: 18px;
}

.end-image {
  min-height: 55vh;
  width: 100%;
  background-image: url("./../assets/images/jpg/contact-2.jpeg");
  background-size: cover;
  background-position: center;
}


